@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(79, 147, 190), rgb(37, 24, 37));
}

.calculator {
  border: 1px solid #ea8921;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 10px rgba(205, 255, 3, 0.5);
}

input {
  width: 320px;
  border: none;
  margin: 10px;
  padding: 25px;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  background: transparent;
  box-shadow: 0px 3px 10px rgba(205, 255, 3, 0.5)   ;
}

input::placeholder {
  color: #ffffff;
}   

